mixin img(src='')
	picture
		block
		source(
			srcset=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + src + '.webp',
			type='image/webp'
		)
		img(src=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + src + '.png')&attributes(attributes)

mixin svg(src='')
	img(src=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + src + '.png')&attributes(attributes)

mixin sprite(ico='')
	svg&attributes(attributes)
		use(
			xlink:href=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + process.env.APP_SPRITE_FILENAME + '#' + ico
		)
