extends ../layouts/default
include ./index/help
//- @-auto-import

block head
	title Homepage | Fifty Shades Sho
	+style('index.css')

block content
	main
		| sdfsdf

		+img({ src: 'app-image-packing-losd' })

		+svg('logo')

		+help

block script
	+script('index.js')
