@include font-face('Roboto', 'Roboto-Regular', 400, normal);

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	color: $color-text;
	font-family: $font-base;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;

	&.locked-scroll {
		overflow-y: hidden;
	}
}

ul {
	list-style: none;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

main,
.main {
	flex: 1;
}

// Disabled auto translate popup from Yandex
#tr-popup[data-hidden='true'] {
	display: none !important;
}

a {
	transition: color $time-default;
	background-color: transparent;
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}

img,
svg {
	display: block;
	user-select: none;
}
