// Media: Mobile

@mixin media-xs-max() {
	@media (max-width: $grid-breakpoint-xs) {
		@content;
	}
}

@mixin media-xs() {
	@media (min-width: $grid-breakpoint-xs + 1px) {
		@content;
	}
}

@mixin media-xs-landscape() {
	@media (max-width: $grid-breakpoint-xs) and (orientation: landscape) {
		@content;
	}
}

// Media: Max

@mixin media-sm-max() {
	@media (max-width: #{$grid-breakpoint-sm - 1px}) {
		@content;
	}
}

@mixin media-md-max() {
	@media (max-width: #{$grid-breakpoint-md - 1px}) {
		@content;
	}
}
@mixin media-lg-max() {
	@media (max-width: #{$grid-breakpoint-lg - 1px}) {
		@content;
	}
}
@mixin media-xl-max() {
	@media (max-width: #{$grid-breakpoint-xl - 1px}) {
		@content;
	}
}

@mixin media-xx-max() {
	@media (max-width: #{$grid-breakpoint-xx - 1px}) {
		@content;
	}
}

// Media: Min

@mixin media-sm() {
	@media (min-width: $grid-breakpoint-sm) {
		@content;
	}
}

@mixin media-md() {
	@media (min-width: $grid-breakpoint-md) {
		@content;
	}
}

@mixin media-lg() {
	@media (min-width: $grid-breakpoint-lg) {
		@content;
	}
}
@mixin media-xl() {
	@media (min-width: $grid-breakpoint-xl) {
		@content;
	}
}
@mixin media-xx() {
	@media (min-width: $grid-breakpoint-xx) {
		@content;
	}
}

// Visible

@mixin visibility-hidden {
	visibility: hidden;
	opacity: 0;
}

@mixin visibility-visible {
	visibility: visible;
	opacity: 1;
}
