.container {
	width: 100%;
	padding-left: $grid-padding;
	padding-right: $grid-padding;
	margin-left: auto;
	margin-right: auto;
	min-height: 1px;

	@include media-md {
		max-width: $grid-breakpoint-md;
	}

	@include media-lg {
		max-width: $grid-breakpoint-lg;
	}

	@include media-xl {
		max-width: $grid-breakpoint-xl;
	}
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
