@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'), url('../fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

b,
strong {
	font-weight: bold;
}

p,
li {
	line-height: normal;
}
