@use 'sass:map';
@use 'sass:math';

$grid-breakpoint-xs: 481px; // xs - <=480px   - mobile
$grid-breakpoint-sm: 578px; // sm - >=578px   - tablet (portrait)
$grid-breakpoint-md: 768px; // md - >=768px   - tablet (landscape)
$grid-breakpoint-lg: 1025px; // lg - >=1024px  - laptop
$grid-breakpoint-xl: 1440px; // xl - >=1440px  - desktop
$grid-breakpoint-xx: 1921px; // xx - >=1921px  - 4k, large screen
$grid-padding: 15px;

$font-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-build-path: '../fonts/';

// Color

$color-while: #ffffff;
$color-text: #000000;
$color-warn: yellow;
$color-error: red;
$color-success: green;

// Animations

$time-default: 0.24s;

// Components

//- @-auto-import
